<!DOCTYPE html>
<html ng-app="store">


<head>
<title>Title</title>
<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
<link rel="stylesheet" href="stylecss.css" />
</head>


<body>


<aside class="col-sm-3">
<book-cover></book-cover>
<h4><book-rating>This is super user page. In aside</book-rating></h4>
</aside>


<div class="col-sm-9">
<h3><book-title>This is super user page. In div</book-title></h3>
<book-authors></book-authors>
<book-review-text></book-review-text>
<book-genres></book-genres>
</div>


<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>


</body>


</html>
